.spacer {
  flex: 1;
}

mat-drawer-container {
  height: calc(100vh - 64px);
}

mat-drawer mat-icon {
  color: black !important;
}

mat-drawer {
  color: black !important;
}

mat-drawer button {
  color: black !important;
}

.burger-icon {
  cursor: pointer;
}
