html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  height: 100%;
  padding: 20;
}

.toast-success {
  --mat-snack-bar-container-color: white;
  --mat-snack-bar-button-color: white;
  --mat-snack-bar-supporting-text-color: black;
  border: 2px solid #4caf50;
}

.toast-error {
  --mat-snack-bar-container-color: #f44336;
  --mat-snack-bar-button-color: white;
  --mat-snack-bar-supporting-text-color: white;
}

.page-body {
  margin: 24px;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
